body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: kalam-bold;
	src: url('../assets/font/Kalam/Kalam-Bold.ttf');
}

@font-face {
	font-family: kalam-light;
	src: url('../assets/font/Kalam/Kalam-Light.ttf');
}

.game-wrapper {
	display: flex;
	background-image: url('/src/assets/images/Sprinkle.svg');
	height: 100vh;
	justify-content: center;
	align-items: center;
}

/* ! BOARD SECTION */
.board {
	display: flex;
	flex-direction: column;
	gap: 40px;
	background: #fff;
	padding: 20px;
	border-radius: 10px;
}

.btn-reset {
	cursor: pointer;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
		Verdana, sans-serif;
	font-size: 1.5rem;
	padding: 4px 10px;
	border-radius: 4px;
	border: 2px solid rgb(133, 133, 133);
	color: rgb(133, 133, 133);
	background-color: #fff;
	outline: none;
	transition: 0.4s;
}

.btn-reset:hover {
	background-color: red;
	/* background-color: black; */
	color: white;
	border: 2px solid black;
}

.mode-game-selection {
	/* display: none; */
	font-size: 1.5rem;
	padding: 4px 10px;
}

.board-square-section {
	position: relative;
	display: grid;
	width: fit-content;
	height: fit-content;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
	gap: 30px;
	padding: 10px;
}

.blocker {
	position: absolute;
	background: black;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.board-winner-info-section {
	display: flex;
	justify-content: center;
}

.first-player-info,
.second-player-info {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	/* flex-direction: column; */
}

.board-info-section {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.game-title {
	font-size: 4rem;
}

/* ! SQUARE INSIDE */
.xActive,
.oActive {
	font-family: 'kalam-bold';
	transition: 1s;
	font-size: 7rem;
	margin: 0;
	padding: 0;
}

.square {
	background-color: #f1f1f1;
	width: 150px;
	height: 150px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	box-shadow: 5px 5px 10px grey;
	transition: 0.5s;
	border: 1px solid grey;
}

.square:hover {
	background-color: rgb(109, 109, 109);
}

/* ! FIXED */
.flex-justify-between {
	display: flex;
	justify-content: space-between;
}
