body {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: kalam-bold;
	src: url('../assets/font/Kalam/Kalam-Bold.ttf');
}

@font-face {
	font-family: kalam-light;
	src: url('../assets/font/Kalam/Kalam-Light.ttf');
}

.square {
	background-color: red;
	width: 150px;
	height: 150px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ! BOARD SECTION */
.board {
	display: flex;
	flex-direction: column;
	gap: 40px;
	background: lightgrey;
	padding: 20px;
	border-radius: 10px;
}

.btn-reset {
	cursor: pointer;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
		sans-serif;
	font-size: 2rem;
	border-radius: 10px;
}

.board-square-section {
	position: relative;
	display: grid;
	width: fit-content;
	height: fit-content;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
	gap: 30px;
	padding: 10px;
}

.blocker {
	position: absolute;
	background: black;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.game-wrapper {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

/* ! SQUARE INSIDE */
.xActive,
.oActive {
	font-family: 'kalam-bold';
	transition: 1s;
	font-size: 7rem;
	margin: 0;
	padding: 0;
}
