body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

* {
	user-select: none;
}

@font-face {
	font-family: kalam-bold;
	src: url('../assets/font/Kalam/Kalam-Bold.ttf');
	font-display: block;
}

@font-face {
	font-family: kalam-light;
	src: url('../assets/font/Kalam/Kalam-Light.ttf');
	font-display: block;
}

.game-wrapper {
	display: flex;
	/* ! Using bgjar */
	background-image: url('/src/assets/images/Sprinkle.svg');
	height: 100vh;
	justify-content: center;
	align-items: center;
}

/* ! BOARD SECTION */
.board {
	display: flex;
	flex-direction: column;
	gap: 15px;
	background: #fff;
	padding: 20px;
	border-radius: 10px;
}

.btn-reset {
	position: relative;
	display: inline-block;
	cursor: pointer;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
		Verdana, sans-serif;
	font-size: 1.5rem;
	padding: 4px 18px;
	border-radius: 8px;
	/* border: none; */
	border: 0.1px solid #ff3f00;
	color: rgb(133, 133, 133);
	background-color: #fff;
	outline: none;
	transition: ease-out 0.78s;
	box-shadow: inset 0 0 0 0 #ff3f00;
}

.btn-reset:hover {
	/* background-color: #FF3F00; */
	/* background-color: black; */
	color: white;
	box-shadow: inset 0 -100px 0 0 #ff3f00;
	/* border: 2px solid black; */
}
.btn-reset:active {
	transform: scale(0.9);
}

.mode-game-selection {
	/* display: none; */
	font-size: 1.5rem;
	padding: 4px 10px;
}

.board-square-section {
	position: relative;
	display: grid;
	width: fit-content;
	height: fit-content;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
	gap: 30px;
	padding: 10px;
}

.blocker {
	position: absolute;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	/* opacity: 0.5; */
	width: 100%;
	height: 100%;
	/* border-radius: 5px;
	background: rgba(0, 0, 0, 0.5); */
	background: rgba(0, 0, 0, 0.567);
	box-shadow: 0 2px 10px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.blocker h1 {
	font-size: 5rem;
	color: white;
}

.board-winner-info-section {
	display: flex;
	justify-content: center;
}

.first-player-info,
.second-player-info {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.board-info-section {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.game-title {
	font-size: 3rem;
}

/* ! SQUARE INSIDE */
.xActive,
.oActive {
	font-family: 'kalam-bold';
	font-display: block;
	transition: 1s;
	font-size: 4rem;
	margin: 0;
	padding: 0;
}

.square {
	background-color: #f1f1f1;
	width: 80px;
	height: 80px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	box-shadow: 5px 5px 10px grey;
	transition: 0.5s;
	border: 1px solid grey;
}

.square:hover {
	background-color: rgb(109, 109, 109);
}

.square:has(.oActive),
.square:has(.xActive) {
	pointer-events: none;
	user-select: none;
}

/* ! FIXED */
.flex-justify-between {
	display: flex;
	justify-content: space-between;
}

/* ? TYPEWRITER EFFECT TO DISPLAY WINNER */
.typewriter-wrapper h1 {
	width: fit-content;
	overflow: hidden;
	border-right: 0.15em solid orange;
	font-size: 2.4rem;
	white-space: nowrap;
	margin: 0;
	letter-spacing: 0.15em;
	animation: typing 2.5s steps(20, end), blink-caret 0.75s step-end infinite;
}

.delay-animation {
	animation-delay: 3.5s !important;
	animation-name: showHide;
}
.typewriter-wrapper {
	width: fit-content;
}

@keyframes showHide {
	0% {
		opacity: 0;
		transform: scale(0.1);
	}

	85% {
		opacity: 1;
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: orange;
	}
}

/* .fit-content {
	width: fit-content;
} */

/* .type-effect {
	display: block;
	position: relative;
	top: 50%;
	width: 32%;
	width: max-content Im !important;
	margin: 0 auto;
	border-right: 2px solid rgba(255, 0, 0, 0.75);
	font-size: 180%;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	transform: translateY(-50%);
}

.anim-typewriter {
	animation: typewriter 4s steps(44) 1s 1 normal both,
		blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
	from {
		width: 0;
	}
	to {
		width: 32%;
		width: max-content !important;
	}
}
@keyframes blinkTextCursor {
	from {
		border-right-color: rgba(226, 7, 7, 0.75);
	}
	to {
		border-right-color: transparent;
	}
} */

.d-hide {
	display: none;
}

.board-winner-info-section {
	font-size: 0.8rem;
}

.board-info-section button,
.board-info-section select {
	font-size: 1rem;
}

.select-wrapper {
	width: 150px;
}

.select__input {
	color: transparent !important;
}

.select__input:focus {
	outline: none;
}

@media only screen and (max-width: 400px) {
	.square {
		width: 50px;
		height: 50px;
	}
}
